@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue-Black.otf);
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url(../fonts/ofont.ru_HelveticaNeueCyr.ttf);
    font-weight: bold;
}

@font-face {
    font-family: FiraSans-Bold;
    src: url(../fonts/FiraSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: ExtraBold;
    src: url(../fonts/FiraSans-ExtraBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Light;
    src: url(../fonts/FiraSans-Light.otf);
}

@font-face {
    font-family: Regular;
    src: url(../fonts/FiraSans-Regular.otf);
}

@font-face {
    font-family: FiraSans-Medium;
    src: url(../fonts/FiraSans-Medium.otf);
    font-weight: bold;
}

/*** header ***/
img{
	max-width: 100%;
	height: auto;
}

header{
    max-width: 1372px;
    margin: 0 auto;
}

header .container-fluid{
    background: #d1d1d1;
    height: 100px;
    box-shadow: 0 3px 3px #000; 
}

.header-left, .header-center, .header-right{
  /*  outline: 1px solid #ed1818;    */
}

header .row-fluid{
    margin: 0 auto;
}

.header-center img{
    margin-left: 34%;
    margin-top: 10px;
}

.glyphicon-home:before {
    content: "\e021";
    font-size: 19px;
    color: #fdf701;
}

.col-lg-4.header-right {
    margin-top: 25px;
}

.header-left p, .header-right p{
    font-family: FiraSans-Bold;
}

.header-left p{
    font-size: 16px;
    padding-top: 40px;
    padding-left: 15%;
}

.header-right p{
    font-size: 24px;
    margin-bottom: 0;
    line-height: 27px;
    text-align: right;
    padding-right: 15%;
}
/*** header ***/

/*** nav ***/
nav, content-top, content-center{
    max-width: 1200px;
    margin: 62px auto 0;
    display: block;
}

.nav-left{
    padding: 0;
}

.nav-left ul{
    list-style: none;
    padding: 0;
}

.nav-left li{
    margin-bottom: 16px;
    height: 47px;
    width: 170px;
}

a.btn.btn-primary.btn-lg.active.btn-block {
    border-radius: 0;
    background: #7ca5d9;
    font-size: 18px;
    border: none;
    box-shadow: 0 2px 0px #3a5270;
}

a.btn.btn-primary.btn-lg.active.btn-block:hover {
    border-radius: 0;
    background: #4b84cc;
    font-size: 18px;
    text-shadow: 0px 3px 3px black;   
}

.col-lg-10.nav-right {
    padding: 0;
}

.glyphicon-phone:before {
    content: "\e145";
    font-size: 19px;
    color: #fdf701;
}

.nav-right h1, .nav-right h2{
    font-family: HelveticaNeueCyr;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;  
}

.nav-right h2{
    font-style: italic;
    text-align:left;
    margin-left:9%;
}

.carousel-caption{
    top: 35%;
}
/*** nav ***/

/*** content-top ***/
.content-top-center h3{
   font-family: ExtraBold; 
   text-align: center;
   margin-top:0;
}

.content-top-center p{
   font-family: Regular; 
   text-align: left;
   margin:0 auto;
   padding-left:13%;
   padding-right:11%;
}

.content-top-border{
    border-bottom: 1px solid #a2a2a2;
    margin: 10px 450px;
}
/*** content-top ***/

/*** content-center ***/
.content-center-left,
.content-center-center,
.content-center-right,
.content-bottom-I,
.content-bottom-II,
.content-bottom-III,
.content-bottom-IV,
.content-top-center,
.nav-left,
.nav-right,
.footer-center-right,
.footer-center-left,
.footer-bottom-right,
.footer-bottom-left,
.media{
 /*   outline: 1px solid #5461fa; */
}

.imgs img{
    float: left;
    margin-left:30px;
    margin-right:10px;
    width:25%;
}

.imgs p{
    font-family: Light;
    float: initial;
    text-transform: uppercase;
    color: #5f3296;
    font-size: 15px;
    margin-top:10px;
}

content-center{
    max-width: 800px;
    margin: 60px auto 0;
    display: block;
}
/*** content-center ***/

/*** content-bottom ***/
content-bottom{
    background-image:url(../img/cont-bg.jpg);
    max-width: 1372px;
    margin: 60px auto;
    display: block;
    height: 360px; 
    position: relative; 
}

hr{
	padding: 0;
	border: none;
}
	
.ttt{
	position: absolute;
	top: 132px;
	width: 66%;
	margin-left:220px;
	border-top:4px dotted #000;
}

.round-red-1,
.round-red-2,
.round-red-3{
    background:#f24841;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 123px; 
}

.round-red-1{
    left: 373px;  
}

.round-red-2{
    left: 670px;  
}

.round-red-3{
    left: 963px;  
}

content-bottom .container-fluid{
    padding: 24px 100px 0;
}

content-bottom h3{
   font-family: ExtraBold; 
   text-align: center;
   padding-top: 40px;
}

.btm-img img {
    border: 5px solid #fff;
    border-radius: 50%;
    width:25%;
    margin-left:35%;
}

.btm-img h4{
    font-family: Regular;
    padding-left: 75px;
    padding-top: 10px;
}

.btm-img p{
    font-family: Regular;
    font-size:13px;
    padding-left: 75px;
}
/*** content-bottom ***/

/*** footer-top ***/
footer-top{
    max-width: 930px;
    margin: 50px auto 0;
    display: block;
}

.footer-top-btn{
    padding: 0;
}

.footer-top-btn a{
    font-size: 18px;
    border: none;
}

a.btn.btn-primary.btn-lg.btn-block.footer-top-i{
    background: #7ca5d9;
    border-radius: 0;
}

a.btn.btn-primary.btn-lg.btn-block.footer-top-ii{
    background: #8392cb;
    border-radius: 0;
}

a.btn.btn-primary.btn-lg.btn-block.footer-top-iii{
    background: #3e5f89;
    border-radius: 0;
}
/*** footer-top ***/

/*** footer-center ***/
footer-center{
    max-width: 1130px;
    margin: 40px auto 0;
    display: block;
}

.media{
    box-shadow: 3px 3px 10px #000;
    margin-bottom:30px;
}

.media img{
    max-width: none;
}

h4.media-heading {
    font-family: FiraSans-Medium;
    font-size:25px;
    margin-top:20px;
    margin-left:30px;
}

.media-body p{
    font-family: Regular;
    font-size:16px;
    margin-left:30px;
}
/*** footer-center ***/

/*** footer-bottom ***/
footer-bottom{
    max-width: 1372px;
    margin: 40px auto 0;
    background-image: url(../img/ialta.png);
    background-repeat: no-repeat;
    display: block;
    height:431px;
    border-left:4px solid #d4e5ce;
    border-right:4px solid #aacbd9;
}

.footer-bottom-right{
    padding-top: 14%;
    padding-right:10%;
}

.footer-bottom-right h3,
.footer-bottom-right h5{
    font-family: FiraSans-Bold; 
    margin:0;
    text-align:right;
}

.footer-bottom-right h3{
    font-size:40px
}

.footer-bottom-right h5{
    font-size:25px
}

.mail{
    background: #fff;
    width: 400px;
    height: 320px;
    border-radius: 8px;
    margin-top:50px;
    margin-left:20%;
}

.mail h4{
    font-family: FiraSans-Bold;
    text-transform: uppercase;
    font-size:20px;
    padding-top:40px;
    padding-left: 36px;
    margin: 0;
    line-height:20px;
}

.mail p{
    font-family: Light;
    font-size:15px;
    padding-left: 36px;
}

form{
    padding-left: 30px;
}

.form-group{
    margin-top:30px;
    width:340px;
}

.form-control{
    background:#ddd;
}   

button.btn.btn-default{
    background:#7ca5d9;
    color:#fff;
    margin-top:15px;
    border-radius: 0;
    font-size: 18px;
    box-shadow: 0 2px 0px #3a5270;
    border: none;
    padding-left:20px;
    padding-right:20px;
    margin-left:210px;
}

button.btn.btn-default:hover{
    font-size: 18px;
    background: #4b84cc;
    text-shadow: 0px 3px 3px black; 
    color:#fff;
}
/*** footer-bottom ***/

/*** nav-bottom ***/
nav.navbar.navbar-default{
    max-width: 1372px;
    background: #e8e8e8;
    margin: 0 auto;
    display: block;
    height: 111px;   
}

.navbar-brand>img {
    display: block;
    margin-top: 12px;
    margin-left:100px;
}

ul.nav.navbar-nav a{
    color:#000;
    font-size: 18px;
}

ul.nav.navbar-nav a:hover{
    color:#337ab7;
    font-size: 18px;
}

.nav.navbar-nav{
    margin-top:35px;
    margin-left:50px;
}
/*** footer-bottom ***/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    
header{
    margin: 0 auto;
}
	
.header-left p{
    padding-left: 0;
}

.header-right p{
    padding-right: 0;
}
	
.ttt{
    margin-left:175px;
	top: 127px;
	width: 65%;
}

.round-red-1,
.round-red-2,
.round-red-3{
    top: 118px; 
}

.round-red-1{
    left: 320px;  
}

.round-red-2{
    left: 577px;  
}

.round-red-3{
    left: 834px;  
}

content-bottom .container-fluid{
    padding: 24px 100px 0 75px;
}

.mail{
    margin-left:29%;
}

.footer-bottom-right{
    padding-top: 16%;
    padding-right:4%;
}

}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	
}

/* Extra small Devices, Phones */
@media only screen and (max-width: 480px) {
	
}